doctype html
html(lang='en')
  head
    title SIPcoin
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap_new.css')
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    script(src='js/views/jquery.min.js')
    script(src='js/views/bootstrap.min.js')
    script(src='js/views/countUp.js')
    style.
      .sidenav {
      color:white;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #032b2f;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      -webkit-box-shadow: 4px 6px 49px -1px rgba(3,43,47,1);
      -moz-box-shadow: 4px 6px 49px -1px rgba(3,43,47,1);
      box-shadow: 4px 6px 49px -1px rgba(3,43,47,1);
      font-family:lato_light;
      font-size:19px;
      }
      .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 19px;
      color: white;
      display: block;
      transition: 0.3s;
      }
      .sidenav .closebtn:hover {
      transition:1s;
      background-color:none;
      }
      .hey_me a:hover {
      transition:1s;
      background-color:#11a8ab;
      }
      .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      }
      @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
      }
  body
  - user = typeof(udata) != 'undefined' ? udata : { }
    #myModal_many.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Account Verfication
          .modal-body
            p Verified Account Needed for Buying Coins
            p A verification mail with a link has been sent to
              b &nbsp; #{user.email}
            p Didn't receive one. Click the below button.
          .modal-footer
              a(href='/resendActivation')
                button.btn.btn-primary(type='button') Resend Verification Mail

    #mySidenav.sidenav(style='z-index:1234;')
      a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
      .Container.hey_me
        .row
          .col-sm-2.col-sm-offset-1
            center
              img(src='/images/sipcoin_logo2d.png', style='width:50px;height:50px;display:inline-block;')
              center
          .col-sm-8.col-sm-offset-1
            h3
              center.regularLatto(style="font-size:25px;") SIPcoin
          .col-sm-10.col-sm-offset-1
            hr
          .col-sm-12
            br
          .col-sm-12
            a(href='/dashboard')
              i.fa.fa-home(aria-hidden='true')
              |  &nbsp Dashboard
          .col-sm-12
            br
          .col-sm-12
            a(href='/referral')
              i.fa.fa-handshake-o(aria-hidden='true')
              |  &nbsp Referrals
          .col-sm-12
            br
          .col-sm-12
            a(href='/transaction')
              i.fa.fa-list-alt(aria-hidden='true')
              |  &nbsp Transaction List
          .col-sm-12
            br
          .col-sm-12
            a(href='/account')
              i.fa.fa-wrench(aria-hidden='true')
              |  &nbsp Settings
          .col-sm-12
            br
          .col-sm-12
            a
              .button_hey_logout(style='cursor:pointer;')
                i.fa.fa-power-off(aria-hidden='true')
                |   &nbsp Log Out
    #first_frame
      .container
        .row
          br
          br
          br
          nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
              .navbar-header
                button.navbar-toggle(style='margin-top:23px;', type='button', data-toggle='collapse', data-target='#myNavbar')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(onclick='openNav()', href='javascript:void(0)', style='margin-left:5px;color:white;padding-bottom: 43px;margin-right:15px;margin-top:5px;')
                  i.fa.fa-bars(aria-hidden='true',style="font-size:30px;margin-top:5px;")
                a.navbar-brand(href='/', style='color:white;padding-bottom: 33px;padding-top:24px;font-size:25px;margin-top:5px;') SIPcoin
              #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  button.btn(type='button',style="margin-top:10px;margin-bottom:5px;")
                    .chip(style='font-size:18px;')
                      img(src='/images/coin.png', alt='Person',style='height:40px;width:40px;')
                      |   $ #{btcValue}
                  button.btn(type='button',style="margin-top:10px;margin-bottom:5px;")
                    .chip(style='font-size:18px;')
                      img(src='/images/sipcoin_logo2d.png', alt='Person', style='height:40px;width:40px;')
                      |  $ #{sipValue}
                  //
                    <li><div class="chip"><img src="/images/avatar.png" alt="Person" width="50" height="50"></div><a class="bit_current_value" href="javascript:void(0)" style="color:white;font-size:25px;margin-top:10px;"> $ 1234  </a></li>
                    <li><a class="sip_current_value" href="javascript:void(0)" style="color:white;font-size:25px;margin-top:10px;"> Sipcoin &nbsp; - &nbsp; $ 1.5 </a></li>
                  button.btn.open_the_popup(type='button',style="margin-top:10px;margin-bottom:5px;")
                    .chip
                      img(src='/images/avatar.png', alt='Person', style='height:40px;width:40px;')
                      |                       #{user.name}

      div(style='margin-left:10px; margin-right:10px;')
        .container
          .row
            br
            br
            br
            .col-sm-4.my_card_style
              br
              br
              center
                .row
                  .col-sm-2.col-sm-offset-2
                    img(src='/images/sipcoin_logo2d.png', style='width:50px;height:50px;display:inline-block;')
                  .col-sm-5
                    h3.boldLatto(style='font-size:21px;') Total Coins
                hr(style='border-top:1px solid black;')
                h2(style='color:black;font-size:25px;')  #{accountDetails.tokens}
                br
                h5.lightLatto(style='color:black;font-size:24px;padding-bottom:8px;')  Referral Coins : #{accountDetails.referralTokens}
              br
              br
            .col-sm-3.col-sm-offset-1.my_card_style
              br
              br
              center
                .row
                  .col-sm-2.col-sm-offset-1
                    img(src='/images/dollar.png', style='width:50px;height:50px;display:inline-block;')
                  .col-sm-8
                    h3.boldLatto(style='font-size:21px;') Total Amount
                hr(style='border-top:1px solid black;')
                h2#targer_here(style='color:black;font-size:25px;')
                br
                h2.lightLatto#targer_here2(style='color:black;font-size:24px;')
              br
              br
            .col-sm-3.col-sm-offset-1.my_card_style
              center
                .row
                  br
                  br
                  .col-sm-2.col-sm-offset-1
                    img(src='/images/sipcoin_logo2d.png', style='width:50px;height:50px;display:inline-block;')
                  .col-sm-8
                    h3.boldLatto(style='font-size:21px;') Buy Coins
                    button#btn-logout(style='display:none')
                hr(style='border-top:1px solid black;')
                br
                br
                a.btn.button_style#main_buy_button(href='/buy', style='background-color: #08708a;margin-bottom:8px;') Buy Coins
                //a.btn.button_style#resend_button(href='/resendActivation', style='background-color: #08708a;display:none;margin-bottom:20px;') Resend Activation Email
                //h6#resend_text(style='color:black;font-size:15px;display:none') * &nbsp;Account Not Verified
                br
                br
                br
                br
      br
      br
      br
      br
      br
      br
      br
      #footer.my_footer_class(style='margin-bottom:0px;')
        .container
          .row
            br
            .col-sm-4
              center
                button.btn(type='button', style='padding-top:20px;')
                  a(href='/', style='border:none;color:white;margin-right:0px;')
                    img(src='/images/sipcoin_logo2d.png', alt='Person', width='50', height='50')
                button.btn(type='button', style='padding-top:20px;')
                  a(href='/', style='text-decoration:none;color:white;font-size:30px;') SIPcoin
            .col-sm-4
              .row
                .col-sm-12
                  h3 Contact
                .col-sm-12
                  h4
                    i.fa.fa-ticket.fa-1x(aria-hidden='true', style='margin-right:10px;')
                    a(href='http://support.sipcoin.io', style='border:none;color:white;margin-right:0px;' target='_blank') Support Center
                .col-sm-12
            .col-sm-4
              .row
                br
                .col-sm-12
                  h3 Follow Us
                .col-sm-12
                  a(href='https://www.facebook.com/sipcoin/', target='_blank')
                    img(src='/images/facebook.png', height='50px;', width='50px;', style='margin-right:15px;')
                  a(href='https://www.instagram.com/sipcoin.io/?hl=en', target='_blank')
                    img(src='/images/insta_1.png', height='50px;', width='50px;', style='margin-right:15px;')
                  a(href='https://twitter.com/sipcoin_io', target='_blank')
                    img(src='/images/twitter.png', height='50px;', width='50px;', style='margin-right:15px;')
                  a(href='https://goo.gl/e37G3Z', target='_blank')
                    img(src='/images/Slack.png', height='50px;', width='50px;', style='margin-right:15px;')
            .col-sm-12
              hr
            .col-sm-12
              center
                h4 © Copyright SIPcoin.io 2017
            .col-sm-12
              br


    script.
      $(function(){
      $(document).on('click',".button_hey_logout",function(){
      $("#btn-logout").click();
      });
      })

      if("#{accountDetails.accountVerified}"=="false")
      {
        console.log('false');
        //$("#main_buy_button").addClass("disabled");
        $('#myModal_many').modal('show');
      }

      if("#{buyButton}"=="false")
      {
      $("#main_buy_button").remove();
      }


      var options = {
      useEasing: true,
      useGrouping: true,
      separator: ',',
      decimal: '.',
      prefix: '$ ',
      };

      var options2 = {
      useEasing: true,
      useGrouping: true,
      separator: ',',
      decimal: '.',
      prefix: 'Referral $ ',
      };

      var demo = new CountUp('targer_here', 0, "#{accountDetails.valueOfTokens}", 3, 1.2, options);
      if (!demo.error) {
      demo.start();
      } else {
      console.error(demo.error);
      }

      var demo2 = new CountUp('targer_here2', 0, "#{accountDetails.valueOfReferralTokens}", 3, 1.2, options2);
      if (!demo2.error) {
      demo2.start();
      } else {
      console.error(demo2.error);
      }

      var data_for_the_popover='<div class="container"> <div class="row"> <div class="col-sm-2" style="background-color:#222222;color:white;padding-left: 0px;padding-right: 0px;"> <div class="row"> <div class="col-sm-12" style="color:white;padding:20px;font-family:lato_bold,open-serif;"> <center><h5 style="font-size:17px;color:white;">#{user.email} </h5> </center> </div> <div class="col-sm-12"> <br> </div> <div class="col-sm-12 hover_change_back"> <h5 style="font-size:20px;font-family:lato_light;"> <a href="/account" style="color:white;text-decoration:none;"> <i style="padding-right:3px;padding-left:10px;"class="fa fa-cogs" aria-hidden="true"></i> Account Settings </a> </h5> </div> <div class="col-sm-12"> <hr> </div> <div  class="col-sm-12 hover_change_back button_hey_logout"> <h5 style="font-size:20px;font-family:lato_light;"> <i style="padding-right:12px;padding-left:10px;" class="fa fa-power-off" aria-hidden="true"></i>Log out </h5> </div> </div> <br> </div> </div> </div>';
      $(function(){
      $('.open_the_popup').popover({content:data_for_the_popover ,placement: "bottom",html: true,trigger: "focus"});
      })
      function openNav() {
      document.getElementById("mySidenav").style.width = "300px";
      }
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }

      $("#mySidenav").mouseleave(function(){
      document.getElementById("mySidenav").style.width = "0";
      });

      $(document).mouseup(function(e)
      {
      var container = $("#sideNav");
      if (!container.is(e.target) && container.has(e.target).length === 0)
      {
      document.getElementById("mySidenav").style.width = "0";
      }
      });

      $(window).scroll(function(){
      document.getElementById("mySidenav").style.width = "0";
      });

      //
      // $(document).on('click',function(){
      //   document.getElementById("mySidenav").style.width = "0";
      //  })
      //
include modals/form-errors
include modals/alert
include modals/confirm
